/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    background: -webkit-linear-gradient(#000000, #171515, #141414); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5F5F5,#E0E0E0, #9E9E9E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5F5F5,#E0E0E0, #9E9E9E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000000, #171515, #1d1c1c); /* Standard syntax (must be last) */
    width: 100%;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

html {
  background-image: url("/Users/stewart/Documents/University/WEBRES/Sprint 3/Website/lib/download.jpeg")
}


.slides {
  height: 500px;
  width: 100%;
  background: #cfaa2a;
}

.notes, .chat {
  height: 400px;
  width: 50%;
}

.chat {
  background: #2acf4e;

}

.notes {
  background: #720fcf;
  float: right;
  display: inline-block;
}

.topNav {
  background: #848681;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F5F5F5,#E0E0E0, #9E9E9E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F5F5F5,#E0E0E0, #9E9E9E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F5F5F5,#E0E0E0, #9E9E9E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F5F5F5,#E0E0E0, #9E9E9E); /* Standard syntax (must be last) */
  width: 100%;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}


.topNav h3 {
  text-align: center;
  font-size: 30px;
}

.openNav {
  float: left;
  margin-left: 10px;
}

.openNav div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
