#title {
  color: black;
}

.page-title-span {
  margin-left: 20px;
}


.button-right-icon {
  margin-left: 10px;
}

/**Login Containor**/
.loginContainer {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  /**Puts in the center of the screen**/
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginProgress {
  display:none;
}

.slides {
  background: red;
  width: 100%;
  height: 500px;
  margin-top: 15px;
}

#notes {
  background: yellow;
  height: 400px;
}

#chat {
  background: green;
  height: 400px;
}
